<a href="https://colab.research.google.com/github/lulus2781/Competition---high-fatality-accidents/blob/main/datacamp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

In [1]:
%load_ext rpy2.ipython

In [2]:
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/lulus2781/Competition---high-fatality-accidents/main/accident-data.csv"
df = pd.read_csv(url, encoding='unicode_escape')

In [12]:
df.to_csv('/content/drive/MyDrive/df.csv')

# R

In [5]:
%%R
library(tidyverse)

R[write to console]: ── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

R[write to console]: ✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

R[write to console]: ── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [13]:
%%R
df <- read_csv('/content/drive/MyDrive/df.csv')

R[write to console]: New names:
* `` -> ...1

Rows: 91199 Columns: 28
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr   (3): accident_index, accident_reference, date
dbl  (24): ...1, accident_year, longitude, latitude, accident_severity, numb...
time  (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [15]:
%%R
head(df)

# A tibble: 6 × 28
   ...1 accident_index accident_year accident_reference longitude latitude
  <dbl> <chr>                  <dbl> <chr>                  <dbl>    <dbl>
1     0 2020010219808           2020 10219808            -0.254       51.5
2     1 2020010220496           2020 10220496            -0.139       51.5
3     2 2020010228005           2020 10228005            -0.179       51.5
4     3 2020010228006           2020 10228006            -0.00168     51.5
5     4 2020010228011           2020 10228011            -0.138       51.5
6     5 2020010228012           2020 10228012            -0.0259      51.5
# … with 22 more variables: accident_severity <dbl>, number_of_vehicles <dbl>,
#   number_of_casualties <dbl>, date <chr>, day_of_week <dbl>, time <time>,
#   first_road_class <dbl>, first_road_number <dbl>, road_type <dbl>,
#   speed_limit <dbl>, junction_detail <dbl>, junction_control <dbl>,
#   second_road_class <dbl>, second_road_number <dbl>,
#   pedestrian_crossing_human_control <dbl>,
#   pedestrian_crossing_physical_facilities <dbl>, light_conditions <dbl>, …

In [22]:
%%R
glimpse(df)

Rows: 91,199
Columns: 28
$ ...1                                    <dbl> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, …
$ accident_index                          <chr> "2020010219808", "202001022049…
$ accident_year                           <dbl> 2020, 2020, 2020, 2020, 2020, …
$ accident_reference                      <chr> "10219808", "10220496", "10228…
$ longitude                               <dbl> -0.254001, -0.139253, -0.17871…
$ latitude                                <dbl> 51.46226, 51.47033, 51.52961, …
$ accident_severity                       <dbl> 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, …
$ number_of_vehicles                      <dbl> 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, …
$ number_of_casualties                    <dbl> 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, …
$ date                                    <chr> "04/02/2020", "27/04/2020", "0…
$ day_of_week                             <dbl> 3, 2, 4, 4, 4, 4, 4, 4, 4, 4, …
$ time                                    <time> 09:00:00, 13:55:00, 01:25:00,…
$ first_road_class                        <dbl> 6, 3, 5, 3, 3, 3, 6, 3, 3, 3, …
$ first_road_number                       <dbl> 0, 3036, 0, 11, 40, 2209, 0, 1…
$ road_type                               <dbl> 6, 6, 6, 6, 6, 2, 6, 3, 6, 3, …
$ speed_limit                             <dbl> 20, 20, 30, 30, 30, 20, 30, 30…
$ junction_detail                         <dbl> 0, 9, 3, 0, 3, 3, 3, 9, 9, 6, …
$ junction_control                        <dbl> -1, 2, 1, -1, 4, 4, 4, 4, 4, 2…
$ second_road_class                       <dbl> 6, 6, 6, 6, 5, 6, 6, 6, 6, 3, …
$ second_road_number                      <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 406…
$ pedestrian_crossing_human_control       <dbl> 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ pedestrian_crossing_physical_facilities <dbl> 9, 4, 0, 4, 0, 0, 0, 0, 0, 5, …
$ light_conditions                        <dbl> 1, 1, 4, 4, 4, 4, 4, 4, 4, 4, …
$ weather_conditions                      <dbl> 9, 1, 1, 1, 1, 1, 1, 8, 1, 1, …
$ road_surface_conditions                 <dbl> 9, 1, 2, 1, 1, 1, 2, 2, 1, 1, …
$ special_conditions_at_site              <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ carriageway_hazards                     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, …
$ urban_or_rural_area                     <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, …